/* #the-final-countdown {
    background: #333;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #eee;
    text-shadow: 1px 1px 5px black;
    padding: 1rem 0;
    font-size: 3rem;
    border: 1px solid #000;
  } */

  html {
    height: 100%;
    overflow: hidden;
  }
   
  body {
    background: transparent;
    color: #000000;
  }

  .clock {
      overflow: hidden;
  }

  .card {
    overflow: hidden;
  }
   
  .col-md-12 {
      overflow: hidden;
      padding-bottom: 20px;
  }
   
  .top-section {
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    border: 0px;
  }
   
  .bottom-section {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    border: 0px;
  }
   
  @media (min-width: 768px) {
    .num {
      font-size: 100px;
    }
  }
   
  @media (max-width: 767px) {
    .num {
      font-size: 50px;
    }
  }
   
  @media (max-width: 480px) {
    .num {
      font-size: 30px;
    }
  }
   
  @media (min-width: 768px) {
    .text {
      font-size: 35px;
    }
  }
   
  @media (max-width: 767px) {
    .text {
      font-size: 20px;
    }
  }
   
  @media (max-width: 480px) {
    .text {
      font-size: 15px;
    }
  }
   
  h1 {
    padding-top: 10px;
  }
   
  @media (min-width: 768px) {
    h1 {
      margin-bottom: 75px;
      font-size: 100px;
    }
  }