@import url(https://fonts.googleapis.com/css?family=Lato:100,400);


/* spectre */
/* .navbar{
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand{
  color: white;
}

a.active, a:active, a:focus, a:hover{
  color: rgba(197, 198, 197);
}

.btn.btn-link{
  color: white;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover{
  color: rgba(197, 198, 197);
} */